.img{
    margin-right: 40px;
    position:absolute;
    height:20px;
    width:100px;
  font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight:700px;
   font-size:34px;
   line-height:43px;
   color:#0073FF;
}
 .btn{
   border-radius: 25px;
 }
 li .btn{
   margin-left:10px;
 }
 ul li link{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight:700px;
  font: size 25px;
  color:#0073FF;
   left:300px;
   padding:50px;
   margin:50px;
}
 