
.card-img{
 top:141px;
 left:810px;
 border-radius: 32px;
 color:#EBEEFF;
 position:absolute;
 float:right;
}

 .background-img{
     position:absolute;
     bottom:83.33%;
     color:#F2F2F2;
 }

.card-text h3{
    margin:5px;
    padding:5px;
    height:30px;
    font-weight:700px;
    font-family: "Source Sans Pro";
    font-size:24px;
    text-decoration:#002348;
}
.card-text h2{
    margin:5px;
    padding:5px;
    font-family: "Source Sans Pro";
    font-style:normal;
    font-weight:700px;
    font-size:60px;
    color:#003B79;
}
.card-text p{
    margin:10px;
    padding:10px;
    width:546px;
    height:122px;
    top:444px;
     left:120px;
     font-family: "Source Sans Pro";
     font-style:normal;
     font-size:20px;
     font-weight:400px;
     line-height:39px;
     color:#002348;
}
 .btn{
     margin:10px;
 }
 .button1{
     position:absolute;
     font-family: "Source Sans Pro";
     font-style:normal;
     font-weight:700px;
     font-size:20px;
     text-align:center;
     color:#007DF2;
     background: #FFFFFF;
     box-shadow: 0px 10px 50px 25px rgba(0,59,121,0.0725798);
 }


   .service_card{
       text-align: center;
       top:999px;
       font-family: "Source Sans Pro";
       font-weight:600px;
       font-size:54px;
       color:#003B79;
   }

   .service_card p{
       margin:auto;
       font-family: "Source Sans Pro";
       font-weight:400px;
       font-size:20px;
       line-height: 35px;;
       text-align:center;
       width:540px;
       height:78px;
       top:1111px;
   }
   
   .service_card img{
       width:273px;
       height:323px; 
       top:1258px;
       float: left;
       margin-left:40px;
   }
   
   .text{
       font-family: "Source Sans Pro";
       font-weight:700px;
       font-size:24px;
       color:#002348;
       position:relative;
       float:left;
       margin-top:220px;  
       margin-left:-190px; 
   }

   .text_len{
    margin-top: -103px;
       font-family: "Source Sans Pro";
       font-style:normal;
       font-weight:700px;
       font-size:24px;
       color:#FFFFFF;
       padding:7px;
       margin-left: 30%;
       position: relative;
       line-height:30px;   
   }

   .neuro_img{
       margin-bottom: 121px;
     margin-left:45%;
   }