.card-text{
    display: flex;
}
.card-img{
 border-radius: 32px;
 color:#EBEEFF;
}
 
  .card-text .card_img{
      margin-top:-135px;
      left:520px;
  }
 
.card-text h3{
    top:284px;
    margin-left:50px;
    padding-left:50px;
    height:30px;
    font-weight:700px;
    font-family: "Source Sans Pro";
    font-size:24px;
    text-decoration:#002348;
}
.card-text h2{
    top:300px;
    margin-left:50px;
    padding-left:50px;
    font-family: "Source Sans Pro";
    font-style:normal;
    font-weight:700px;
    font-size:60px;
    color:#003B79;
}
.card-text p{
    top:316px;
    margin-left:50px;
    padding-left:50px;
    width:546px;
    height:122px;
    top:444px;
     left:120px;
     font-family: "Source Sans Pro";
     font-style:normal;
     font-size:20px;
     font-weight:400px;
     line-height:39px;
     color:#002348;
}
  
   .card-text .button1{
       margin:30px;
       font-family: "Source Sans Pro";
       font-style: normal;
       font-size:20px;
       align-items:center;
       color:#007DF2;
   }   
    
     .card-text .button{ 
        margin:40px;
     }

 /* service section  -*/

   .service_card{
       text-align: center;
       margin-top:110px;
       font-family: "Source Sans Pro";
       font-weight:600px;
       font-size:54px;
       color:#003B79;
   }

   .service_card p{
       margin:auto;
       font-family: "Source Sans Pro";
       font-weight:400px;
       font-size:20px;
       line-height: 35px;;
       text-align:center;
       width:540px;
       height:78px;
       top:1111px;
   }
   
   .service_card img{
    width:273px;
    height:323px; 
    top:1258px;
    float:left;
    margin-left:40px;
}

   .text{
       font-family: "Source Sans Pro";
       font-weight:700px;
       font-size:24px;
       color:#002348;
       position:relative;
       float:left;
       margin-top:220px;  
       margin-left:-190px; 
   }

    .shape{
     margin-top:80px;
     margin-left:-200px;
    }

   /* second image caption  */
    
   .text_len{
    margin-top: -103px;
       font-family: "Source Sans Pro";
       font-style:normal;
       font-weight:700px;
       font-size:24px;
       color:#FFFFFF;
       padding:7px;
       margin-left: 30%;
       position: relative;
       line-height:30px;   
   }

   .neuro_img{
      display: block;
      margin-left:600px;
      margin-top:-250px;
      margin-right:auto;
      width:50%;
   }

   .neuro_img h5{
       font-family: "Source Sans Pro";
       font-style: normal;
       font-weight:700px;
       font-size:24px;
       color:#002348;
       line-height: 30px;
       position: absolute;
       margin-top:-105px;
       margin-left:95px;

   } 

  .pre_img{
      margin-left:850px;
      margin-top:-300px;
  } 
  .pre_img h5{
      font-family: "Source Sans Pro";
      font-size: 24px;
      font-weight:700px;
      color: #002348;
      font-style:normal;
      margin-top:-110px;
      margin-left:-165px;   
  }


  /*  Clinic css code */
   .cli_container{
       margin-top:190px;
       margin-left:120px;
   }
   .cli_container h3{
       font-family: "Source Sans Pro";
       font-style:normal;
       font-weight:700px;
        font-size:24px;
    }
    .cli_container p{
       width:540px;
       height:20px;
       font-family: "Source Sans Pro";
       font-weight: 400;
       font-size:20px;
       line-height:39px;
       color:#002348; 
    }
    .doc{
        margin-left:510px;
        margin-top:-220px;
        padding: 20px;
        height:240px;
        width:240px;
        /*border:.06272px solid #A7464F;*/
    }

    .care{
        margin-left:810px;
        margin-top:-220px;
        height:220px;
        width:220px;
    }
   
    .service{
        height:220px;
        width:220px;
        margin-left:-390px;
        
    }