.main_page{
    height:auto;
    width:auto;
    background-color:aliceblue;
}

/*  First image code */
.card-text{
    display: flex;
}
.card-img{
 border-radius: 32px;
 color:#EBEEFF;
}
 
  .card-text .card_img{
      margin-top:-135px;
      left:520px;
  }
 
.card-text h3{
    top:284px;
    margin-left:50px;
    padding-left:50px;
    height:30px;
    font-weight:700px;
    font-family: "Source Sans Pro";
    font-size:24px;
    text-decoration:#002348;
}
.card-text h2{
    top:300px;
    margin-left:50px;
    padding-left:50px;
    font-family: "Source Sans Pro";
    font-style:normal;
    font-weight:700px;
    font-size:60px;
    color:#003B79;
}
.card-text p{
    top:316px;
    margin-left:50px;
    padding-left:50px;
    width:546px;
    height:122px;
    top:444px;
     left:120px;
     font-family: "Source Sans Pro";
     font-style:normal;
     font-size:20px;
     font-weight:400px;
     line-height:39px;
     color:#002348;
}
  
   .card-text .button1{
       margin:-30px;
       font-family: "Source Sans Pro";
       font-style: normal;
       font-size:20px;
       align-items:center;
       color:#007DF2;
   }   
    
     .card-text .button{ 
        margin:50px; 
    }

 /* service section  -*/
 

     .main_div{
         height:auto;
         width:auto;
         background-color:#F2F2F2;
         opacity: 0.8;
     }
      

   .service_card{
       text-align: center;
       margin-top:110px;
       font-family: "Source Sans Pro";
       font-weight:600px;
       font-size:54px;
       color:#003B79;
   }

   .service_card p{
       margin:auto;
       font-family: "Source Sans Pro";
       font-weight:400px;
       font-size:20px;
       line-height: 35px;;
       text-align:center;
       width:540px;
       height:78px;
       top:1111px;
   }
   /*  dental image and text --*/
   .service_card img{
    width:273px;
    height:323px; 
    top:1258px;
    float:left;
    margin-left:40px;
}
 
   .text{
       font-family: "Source Sans Pro";
       font-weight:700px;
       font-size:24px;
       color:#002348;
       position:relative;
       float:left;
       margin-top:220px;  
       margin-left:-190px; 
   }

    .shape{
     margin-top:80px;
     margin-left:-200px;
    }


    
   .text_len{
    margin-top: -103px;
       font-family: "Source Sans Pro";
       font-style:normal;
       font-weight:700px;
       font-size:24px;
       color:#FFFFFF;
       padding:7px;
       margin-left: 30%;
       position: relative;
       line-height:30px;   
   }
/* end first image  code ---*/
   
 
/*  start second code image  -*/
   .img_container{
       display:flex;
   }
   .img_container text{
        margin-top: 170px;
        font-family: "Source Sans Pro";
        font-style:normal;
        font-weight:700px;
        font-size:24px;
        color:#fff;
        padding:7px;
        float: left;
        margin-left: 5%;
        position:absolute;
        line-height:30px;   
 } 

    .img_container p {
      font-family: "Source Sans Pro";
      font-style:normal;
      font-weight: 600;
      font-size:16px;
      color:#FFFFFF;
       margin-left:-218px;
       line-height: 20px;
       margin-top:220px;
       line-height:20px;
  }
  .lungs{
      margin-top: 50px;
      margin-left:-65px;
  }

  /* third images code --*/

  .main_div span{
     margin-top:-150px;
     margin-left:80px;
   }

   .main_div .shape_img{
       margin-top:-230px;
       margin-left:90px;
   }

  .main_div .plus_img{
      margin-top:-80px;
      margin-left:150px;
  }

  .main_div .plus_img h4{
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 700;
      font-size:24px;
      line-height: 30px;
      color:#002348;
  }

  .main_div .h4-img{
      margin-left:-79px;
  }
  .main_div .main{
      margin-left:95px;
      margin-top:-250px;
  }

  .main_div .image_container{
      margin-top:-165px;
      margin-left:115px;
  }
  .main_div #path{
      margin-top:-105px;
      margin-left:-50px;
  }

  .main_div #path1{
      margin-top:-80px;
      margin-left:-52px;
  }
  .main_div #circle{
      margin-top:-140px;
      margin-left:5px;
  }

  .main_div h4{
      font-family: "Source Sans Pro";
      font-style:normal;
      font-weight:700px;
      font-size:24px;
      line-height:30px;
      color:#002348;
  }
  /*  end service section --*/

 /* start clinic section code   --*/
    .h6_div{
        background-color: azure;
        opacity: 0.4;
    } 
    .h6_div h3{
        margin-top:30px;
       margin-left: 160px;
       font-family: "Source Sans Pro";
       font-style: normal;
       font-weight:600px;
       font-size:54px;
       line-height: 78px;
       color:#003B79;
    }
    .h6_div p{
        height:78px;
        width:546px;
        margin-left:180px;
        line-height: 39px;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight:400;
        font-size:20px;
        color:#002348;
    }